<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="col-md-4" style="display:inline; padding-right: 10px;">
            <a href="javascript:void(0);" routerLink ="home">Home</a>
        </div>
        <div class="col-md-4" style="display:inline; padding-right: 10px;">
            
            <a href="javascript:void(0);" routerLink ="about">About</a>
        </div>
        <div class="col-md-4" style="display:inline; padding-right: 10px;">
            
            <a href="javascript:void(0);" routerLink ="contact">contact us</a>
        </div>
        <div class="col-md-4" style="display:inline; padding-right: 10px;">
            
            <a href="javascript:void(0);" routerLink ="support">Support</a>
        </div>
    </div>
    </div>
</div>